body {
  background: #f7edd6 !important;
}

.menu {
  background-color: rgba(242, 222, 169, 0.35);
  padding: 1px;
}

.links {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.ulMenu {
  display: flex;
  justify-content: space-around;
  font-family: Candara;
  font-size: 20px;
  font-style: normal;
}

.menuContent {
  display: flex;
  justify-content: space-around;
}

.ulExperiencias {
  margin-top: 170px;
}

.textDiv {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: Candara;
  font-size: 20px;
}

.imagesContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
  cursor: pointer;
  position: relative;
}

.imagenContainer {
  width: 290px;
  height: 257px;
  border-radius: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
  transition: 0.5s;
  font-family: Candara;
}

.imagenContainer:hover {
  transform: scale(1.1);
  /*La imagen se agranda una vez el cursor pasa sobre ella */
}

.buttonContainer {
  font-family: Candara;
  text-align: center;
  margin-top: 50px;
  font-family: Candara;
}

.footerContent {
  display: flex;
  justify-content: space-around;
}

.footerContainer {
  border-radius: 40px;
  background: rgba(242, 222, 169, 0.35);
  color: #000;
  font-family: Candara;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 80px;
}

/*En la clase sectionstyle, se ingreso display: none, ya que es necesario para la experiencia de usuario, que la
sección final unicamente se visualice una vez el formulario es enviado.  */
.sectionStyle {
  margin-bottom: 20px;
  padding-bottom: 30px;
  margin-top: -50px;
  display: none;
}

.containerForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  box-sizing: border-box;
  font-family: Candara;
}

.sizeComments {
  width: 300px;
  height: 100px;
}

.textEnd {
  display: flex;
  justify-content: center;
  font-family: Candara;
  font-size: 45px;
  padding: 150px;
}

.icon {
  display: flex;
  justify-content: center;
  margin-top: -120px;
}

.textThree {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: Candara;
  font-size: 20px;
  margin-top: 50px;
  align-items: center;
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .imagesContainer {
    flex-direction: column;
    align-items: center;
  }

  .ulMenu {
    font-size: 15px;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .footerContent {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .ulExperiencias {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: justify;
  }

  .containerForm {
    flex-direction: column;
    align-items: center;
  }

  .sectionStyle {
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 15px;
  }
}
