header {
  color: #000;
  height: 40px;
  border: 1px;
  text-align: center;
}
html {
  background-color: #f7edd6;
}
.headerContainer {
  height: 40px;
  background: rgba(242, 222, 169, 0.35);
  display: flex;
  justify-content: center;
}

.headerItem {
  color: #000;
  font-family: Candara;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: inline-block;
  padding: 6px;
  width: 250px;
  height: 20px;
  border-radius: 100px;
  text-align: center;
}

.ImagesContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
}

.ImagenContainer {
  width: 290px;
  height: 257px;
  border-radius: 40px;
}

.TitleContainer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #f2dea9;
  font-family: Candara;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  background: #546c22;
  border-radius: 40px;
  width: 250px;
  height: 55px;
  text-align: center;
}

.FootersContainer {
  border-radius: 40px;
  background: #f2dea959;
  padding: 5%;
}

.FooterContainer {
  color: #000;
  font-family: Candara;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 80px;
  text-align: center;
}
